@page "/csvprocessor"
@using System.IO
@using Microsoft.AspNetCore.Components.Forms
@using BlazorCSVProcessorCore.Pages.Helpers
@using BlazorCSVProcessorCore.Models
@inject IJSRuntime JSRuntime

<div>
    <!--display the list side by side-->
    <div class="container">

        @{
            if (Files.Count != 0)
            {
                <div>
                    <input type="checkbox" id="editChk" title="Add Header" @onchange="eventargs => { ChangeStatus(eventargs.Value, ref isHiddenHeader); }" />
                    <div id="mycontent">
                        <button id="addInputBtn" click="AddInputBox">Add Input Box</button>
                    </div>
                </div>
                <div hidden="@isHiddenHeader" id="headerholder" @ref="HeaderHolder">
                    @{
                        for (int i = 0; i < NewCols.Count; i++)
                        {
                            //add a buffer val, other wise, the i value will always be Count at last iteration
                            var val = i;
                            <div>
                                <input type="text" placeholder="column" @bind="NewCols[val]" @bind:event="onchange" />
                            </div>
                        }

                    }
                    <button @onclick="AppendCol">Add Header</button>
                    <button @onclick="CancelAppend">Cancel</button>
                    <button @onclick="ConfirmAppend">Confirm</button>
                </div>
            }
        }

        <div>@exceptionMessage</div>
        @{
            if (isLoading)
            {
                <p>Loading...</p>
            }
        }
        <ul class="nav nav-tabs" role="tablist">
            @foreach (var (file, FileList) in Files)
            {
                <li class="nav-item">
                    <p class="btn btn-primary" @onclick="@(()=>SwitchCurrentFile(@file.Name.Split('.')[0]))">@file.Name.Split('.')[0]</p>
                </li>
            }
        </ul>
        <div class="tab-content">
            @{
                <input type="checkbox" title="Edit" @onchange="eventargs => { ChangeStatus(eventargs.Value, ref IsEditable); }">
                <table class="table ">
                    <thead class="table-dark">
                        <tr>
                            @{
                                foreach (var header in NewCols)
                                {
                                    <td>@header</td>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < fileCurrent.Count; i++)
                        {
                            //local index buffer;
                            var val = i;
                            <tr>
                                @for (int j = 0; j < fileCurrent[i].DataList.Count; j++)
                                {
                                    var buffer = j;
                                    <td class="col border">
                                        <input @bind="@fileCurrent[val].DataList[buffer]" />
                                    </td>
                                }
                                <td>
                                    <button hidden="@IsEditable" @onclick="@(() => RemoveRow(fileCurrent,val))">Delete Row</button>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            }
        </div>
        <form>
            <label>
                Upload File
                <InputFile OnChange="@LoadFiles" multiple>
                    some text
                </InputFile>
            </label>
            <button type="submit">Upload Selected File(s)</button>
        </form>
        <p class="btn btn-primary" @onclick="@DownloadFile">Downloads</p>
    </div>

</div>
@code {
    //loading file
    private bool isLoading;
    //hide editable content
    private bool isHiddenHeader = true;
    //disable/enable input
    private bool IsEditable = true;

    private Dictionary<IBrowserFile, List<Datarow>> Files = new Dictionary<IBrowserFile, List<Datarow>>();

    private List<Datarow> fileCurrent = new List<Datarow>();

    private IBrowserFile browserFile;
    string exceptionMessage;
    ElementReference HeaderHolder;

    private string headerLine = string.Empty;
    private List<string> NewCols = new List<string>();
    async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        try
        {
            foreach (var file in e.GetMultipleFiles())
            {
                var FileList = new List<string>();
                await CSVProcessHelper.ReaderHelper(file.OpenReadStream(), FileList);

                var fileToStore = FileList.Select(s => new Datarow(s)).ToList();
                Files.Add(file, fileToStore);


            }
            fileCurrent = Files.First().Value;

        }
        catch (Exception ex)
        {
            exceptionMessage = ex.Message;
        }
        isLoading = false;
    }

    async Task DownloadFile()
    {
        foreach (var pair in Files)
        {
            await JSRuntime.InvokeAsync<string>(
                    "SaveFileAs",
                    $"{pair.Key.Name.Split('.')[0]}.csv",
                    pair.Value.ToString()
                );
        }
    }

    void SwitchCurrentFile(string fileName)
    {
        foreach (var pair in Files)
        {
            if (pair.Key.Name.Split('.')[0] == fileName)
            {
                fileCurrent = pair.Value;
            }
        }
    }

    void ChangeStatus(object eventObj, ref bool isTrue)
    {
        try
        {
            if ((bool)eventObj)
            {
                isTrue = false;
            }
            else isTrue = true;
        }
        catch (Exception ex)
        {
            exceptionMessage = ex.Message;
        }
    }



    void AppendCol(MouseEventArgs e)
    {
        if (NewCols != null)
        {

            NewCols.Add(string.Empty);
        }

    }

    void CancelAppend(MouseEventArgs e)
    {
        NewCols.Clear();
    }

    void ConfirmAppend()
    {

    }

    void RemoveRow(List<Datarow> file, int index)
    {
        try
        {

            file.RemoveAt(index);
        }
        catch (Exception ex)
        {
            exceptionMessage = ex.Message;
        }
    }
}
